{#
/**
 * @file
 * Two column template for the order edit form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-order-form clearfix">
	<div class="layout-region layout-region-order-main">
		{{ form }}
	</div>
</div>

